<div class="row">
  <div class="col s10 offset-s1 m8 offset-m2 l8 offset-l2">
    <div class="brand">
      <div class="main-header-content inner title center-align">

        <h1 class="page-title" id="homeTopTitle">
          <% if (config.subtitle && config.subtitle.length > 0) { %>
          <%= config.subtitle %>
          <% } else { %>
          subtitle
          <% } %>
        </h1>

        <% if (theme.hitokoto.enable) { %>
        <h2 class="page-description" id="hitokoto" style="display: -webkit-box;"></h2>
        <h3 class="page-author" id="hitokotoAuthor" style="display: block;"></h3>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"
          integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
        <script>
          jQuery
            .ajax({ url: "https://v1.hitokoto.cn/" })
            .done(function (content, err) {
              // console.log("content::", content, "err::", err);
              if (err === "success") {
                jQuery("#hitokoto").html(content.hitokoto);
                jQuery("#hitokotoAuthor").html(content.from);
              }
            });
        </script>



        <% } %>

        <% if (theme.jinrishici.enable) { %>

        <h2 class="page-description" id="jinrishici" style="display: -webkit-box;"></h2>
        <h3 class="page-author" id="jinrishiciAuthor" style="display: block;"></h3>


        <script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>

        <script type="text/javascript">
          jinrishici.load(function (result) {
            // console.log(result)

            if (result.status === "success") {

              jQuery("#jinrishici").html(result.data.content);
              var jinrishiciAuthor = "《" + result.data.origin.title + "》 - " + result.data.origin.dynasty + " - " + result.data.origin.author + ""
              jQuery("#jinrishiciAuthor").html(jinrishiciAuthor);
            }
          });
        </script>


        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"
          integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
        <script>
          jQuery
            .ajax({ url: "https://v2.jinrishici.com/one.json" })
            .done(function (content, err) {
              console.log("content::", content, "err::", err);
              if (err === "success") {
                jQuery("#jinrishici").html(content.data.content);
                var jinrishiciAuthor = "《" + content.data.origin.title + "》 - " + content.data.origin.dynasty + " - " + content.data.origin.author + ""
                jQuery("#jinrishiciAuthor").html(jinrishiciAuthor);
              }
            });
        </script> -->

        <% } %>


      </div>








      <div class="description center-align">
        <% if (theme.subtitle.enable) { %>
        <span id="subtitle"></span>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
        <script>
          var typed = new Typed("#subtitle", {
            strings: ['<%= theme.subtitle.sub1 %>', '<%= theme.subtitle.sub2 %>'],
            startDelay: <%= theme.subtitle.startDelay %>,
            typeSpeed: <%= theme.subtitle.typeSpeed %>,
            loop: <%= theme.subtitle.loop %>,
            backSpeed: <%= theme.subtitle.backSpeed %>,
            showCursor: <%= theme.subtitle.showCursor %>
                    });
        </script>
        <% } else { %>
        <!-- <%= config.description %> -->
        <% } %>
      </div>
    </div>
  </div>
</div>

<% if (theme.banner.enable) { %>
<% if (theme.banner.pictureDed) { %>
<script>
  var imgList = "<%- theme.banner.imgs %>".split(',')
  var i = Math.floor(Math.random() * imgList.length);
  console.log("bannerUrl::", imgList[i])

  $('.bg-cover').css('background-image', 'url(' + imgList[i] + ')');

</script>


<% } else { %>

<script>
  // 每天切换 banner 图.  Switch banner image every day.
  var bannerUrl = "<%- theme.jsDelivr.url %><%- url_for('/medias/banner/') %>" + new Date().getDay() + '.jpg';
  $('.bg-cover').css('background-image', 'url(' + bannerUrl + ')');
</script>
<% } %>


<% } else { %>
<script>
  $('.bg-cover').css('background-image', 'url(<%- theme.jsDelivr.url %><%- url_for("/medias/banner/0.jpg")%>)');
</script>
<% } %>

<style type="text/css">
  .page-title {
    font-size: 3rem;
    font-family: 'Playball', cursive;
  }

  .page-title,
  .sb-title {
    letter-spacing: -1px;
    font-weight: 700;
    color: #fff;
    -webkit-animation: fade-in-down 1s;
    animation: fade-in-down 1s both;
    -webkit-animation-delay: .6s;
    animation-delay: .5s;
    text-shadow: 0 3px 6px rgba(0, 0, 0, .3);
  }

  .page-description {
    font-size: 1.5rem !important;
    /* -webkit-animation: fade-in-down .9s; */
    animation: fade-in-down .9s both;
    /* -webkit-animation-delay: .1s; */
    animation-delay: .3s;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    overflow: hidden;
    font-family: 'Long Cang', cursive;
    margin: 0;
  }


  .page-author {
    margin: 0;
    padding: 0;
    font-size: 1.0rem !important;
    line-height: 1.3em;
    /* font-family: 'Ubuntu Mono', monospace; */
    font-family: 'Long Cang', cursive;
    -webkit-animation: fade-in-down .9s;
    animation: fade-in-down .9s both;
    -webkit-animation-delay: .1s;
    animation-delay: .3s;
  }

  .page-author,
  .page-description {
    margin: 0;
    letter-spacing: .01rem;
    color: rgba(255, 255, 255, .8);
    text-shadow: 0 3px 6px rgba(0, 0, 0, .5);
    display: none;
    font-weight: 400;
  }
</style>